{
    "repo_addon_author": "<the author name of the repository addon>",
    "repo_addon_description": "<long description of the repository addon>",
    "repo_addon_id": "repository.<id of the repository addon>",
    "repo_addon_summary": "<a short description of the repository addon>",
    "repo_addon_version": "<the version of the repository addon>",
    "addons_dir": "<the path that contains the addon directories which should be added to the repositroy>",
    "repo_dir": "<the path where the repository should be created>",
    "repo_name": "<the name of your repository>",
    "repo_url": "<the URL where Kodi can access the contents of out_dir>"
}
